.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em 1em;
    background-color: #ff0000;
    color: white;
}

.navbar-left {
    font-size: 22px;
}

.navbar-right {
    font-size: 18px;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

/* Main content */
.content {
    padding: 2em;
}

/* Call to action */
.cta {
    padding: 1em;
    background-color: #ff0000;
    color: white;
    text-align: center; /* Center text */
    margin: 2em 0;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
}

.cta a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border: 1px solid #4caf50;
    background-color: #333;
    /* Add something here so that there is a transition on the background color    */
    
}

/* Add something hear for changing the color on hover */


/* Footer */
.footer {
    padding: 0.5em 1em;
    background-color: #333;
    color: white;
    text-align: center;
}


/* Author Info */
.author-info {
    display: flex;
    align-items: center;
    gap: 20px; /* space between image and text */
}

.author-img {
    display: flex;
    align-items: center;
    border-radius: 50%; /* make the image circular */
    object-fit: cover;
    
}

/*The above style wasn't applying so specified for author image */
.author-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* make the image circular */
    object-fit: cover;
    border-style: dashed;
    border-width: 3px;
    border-color: #ff0000;
    margin-right: 1em;
}

/* Button Link */
.btn-link {
    display: inline-flex; 
    height: 30px; /* Adjust the height as needed */
    width: 200px; /* Set a minimum width for a rectangular shape */
    align-items: center; 
    justify-content: center; 
    padding-right: 1em; 
    background-color: #030303; 
    color: white; 
    border: none; 
    white-space: nowrap; 
    border-radius: 5px; /* Optional: Add some border radius for rounded corners */
}

/* Ensure the image retains its size */
.btn-logo {
    width: 30px; /* Set a fixed width for the image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 8px; /* Add some space between the image and text */
}




